.back-button {
    background: none;
    border: none;
    cursor: pointer;
    fill: black;
    position: absolute;
  }
  
  .back-button-icon {
    width: 24px;
    height: auto;
    fill: black;
  }
  