.payment-button {
    width: 100%;
    background-color: #FF4700;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-top: 60px;
  }
  