.checkout-form {
    /* Estilos para el formulario de pago y dirección */
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;

  }
.subtitulo{
  display: flex;
  justify-content: center;
  width: 100%;
  /*position: relative;*/
}